main{
 display: flex;
 justify-content: center;
}


.about-image{
 position: absolute;
 top: 80px;
 height: 80vw;
 width: 80vw;
 stroke: black;
 stroke-width: 4px;
}

.about-header{
 font-family: "whyte Inktrap";
 position: absolute;
 top: 120vw;
 width: 100vw;
 padding-left: 20px;
}

p{
 font-family: whyte;
 font-weight: 200;
 font-size: 22px;
 line-height: 30px;
 position: absolute;
 top: 135vw;
 padding: 0 20px;
}

.badge{
 position: absolute;
 top: 210vw;
}

#about-donation{
 font-family: "whyte Inktrap";
 position: absolute;
 top: 300vw;
 width: 100vw;
 padding-left: 20px;
 text-transform: uppercase;
 line-height: 35px;
}

#donation-para{
 font-family: whyte;
 font-weight: 200;
 font-size: 22px;
 line-height: 30px;
 position: absolute;
 top: 345vw;
 padding: 0 20px;
}