.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 5px 10px;
  height: 60px;
  width: 100vw;
  background-color: #ffc700;
  z-index: 2;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 2px solid #000;
  border-radius: 40px;
}

.menu-bar {
  height: 2px;
  width: 15px;
  background-color: #000;
}

.menuBar-top {
  transform: translateY(-2px);
}

.menuBar-bottom {
  transform: translateY(2px);
}

.menu {
  position: fixed;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
  background-color: #fff;
  padding: 10px;
  z-index: 1;
  transform: translateY(-110%);
}

.menu-list {
  font-family: "whyte Inktrap";
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
}

.menu-list li {
  list-style-type: none;
  padding: 0 0 20px 0;
}

.menu-footer-list {
  margin-top: 60px;
  font-family: whyte;
  text-transform: capitalize;
}

.menu-footer-list li {
  margin: 30px 0;
  list-style-type: none;
  font-weight: 500;
}

.shop-button {
  display: none;
}

.about-button {
  display: none;
}

.search-icon {
  position: absolute;
  left: 55px;
}

.logo {
  margin-left: 20px;
  width: 165px;
}

.account-icon {
  display: none;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 55px;
  border: 2px solid #000;
  border-radius: 40px;
}

.cart-text {
  display: none;
}

.cart-counter {
  font-family: whyte;
  font-weight: 600;
}

/* ///////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 47.89em) {
  .nav {
    height: 80px;
  }
}

@media screen and (min-width: 55.45em) {
  .nav {
    padding: 5px 30px;
  }

  .menu-wrapper {
    display: none;
  }

  .shop-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: whyte;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 40px;
    height: 40px;
    width: 100px;
  }

  .about-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: whyte;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 40px;
    height: 40px;
    width: 100px;
    position: absolute;
    left: 140px;
  }

  .search-icon {
    left: 255px;
  }

  .account-icon {
    position: absolute;
    right: 150px;
  }

  .cart {
    width: 100px;
  }

  .cart-text {
    display: block;
    font-family: whyte;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 10px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 80em) {
  .nav {
    height: 80px;
  }

  .shop-button {
    /* position: absolute; */
    font-weight: 500;
    font-size: 16px;
    border: 2px solid #000;
    height: 40px;
    width: 100px;
    left: 100px;
  }

  .about-button {
    font-weight: 500;
    font-size: 16px;
    border: 2px solid #000;
    height: 40px;
    width: 100px;
    left: 140px;
  }

  .search-icon {
    left: 250px;
    width: 25px;
    height: 25px;
  }

  .logo {
    margin-left: 20px;
    width: 225px;
  }

  .account-icon {
    position: absolute;
    right: 150px;
  }

  .cart {
    
    border: 2px solid #000;
    height: 40px;
    width: 100px;
  }

  .cart-text {
    font-weight: 500;
    font-size: 16px;
    padding-right: 5px;
  }

  .cart-counter {
    font-weight: 500;
    font-size: 16px;
  }
}
