.header {
  /* position: relative;
  top: 60px; */
  margin-top: 60px;
  height: 70vw;
  background-color: #ffc700;
  border-bottom: 4px solid black;
}

.carousel-container {
  overflow: hidden;
}

.carousel {
  display: flex;
}

.header-image-containers {
  margin-left: 20px;
}

.headerSvgs {
  width: 64vw;
  stroke: black;
  stroke-width: 8px;
}

.one-svg,
.four-svg {
  width: 120vw;
}

.badge {
  position: absolute;
  top: 65vw;
  right: 20px;
  width: 35vw;
}

.figmaCollection-section h1 {
  font-family: "whyte Inktrap";
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  padding: 90px 20px;
}

.fig-collectionsSvgs {
  margin: 0 10px;
  height: 25px;
  width: 25px;
}

.layers-link {
  border-bottom: 4px solid #000;
}
.components-link {
  border-bottom: 4px solid #000;
}

/* styles for the grid section of the home page */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;

  padding: 0 20px;

  margin-bottom: 90px;
}

.box_6 {
  grid-column: 1/3;
  height: 100vw;
}

.box_6 .grid_images {
  height: 85%;
}

.box_7 {
  grid-column: 1/3;
  height: 100vw;
}

.box_7 .grid_images {
  border-radius: 30px;
  height: 85%;
}

.box_16 {
  grid-column: 1/3;
  height: 100vw;
}

.box_16 .grid_images {
  border-radius: 30px;
  height: 85%;
}
.box_17 {
  grid-column: 1/3;
  height: 100vw;
}

.box_17 .grid_images {
  height: 85%;
  border-radius: 30px;
}

.grid_images {
  border-radius: 30px;
  object-fit: cover;
  height: 65%;
  width: 100%;
}

.grid_text_box {
  display: grid;
  grid-template-columns: 0.8fr 0.3fr;
  padding-top: 15px;
}

.grid_text_box p {
  font-family: "whyte Inktrap";
  font-weight: 600;
  text-transform: capitalize;
}

.newSpan {
  display: block;
}

.priceText {
  text-align: end;
}

/* styling for the footer section of the home page */
.home-footer {
  position: relative;
  padding: 55px 20px;
  overflow: hidden;
}
.footerLogo {
  position: relative;
  margin: 0 auto 25px;
  height: 180px;
  width: 180px;
}

.home-footer h2 {
  font-family: whyte;
  font-weight: 600;
  font-size: 37px;
  margin-bottom: 25px;
}

ul.footer-list {
  list-style-type: none;
  font-family: whyte;
  font-weight: 500;
}

ul.footer-list li {
  padding: 10px 0;
}

ul.footer-socials {
  margin: 45px 0;

  list-style-type: none;
  font-family: whyte;
  font-weight: 500;
}

ul.footer-socials li {
  padding: 10px 0;
}

.home-footer button {
  position: absolute;
  bottom: 200px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;

  font-family: whyte;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 35px;
}

/* //////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 47.9em) {
  /* styles for the header section of the home page */
  .header {
    height: 50vw;
  }
  
  .headerSvgs {
    width: 45vw;
  }
  
  .one-svg,
  .four-svg {
    width: 85vw;
  }
  
  .badge {
    top: 50vw;
    right: 20px;
    width: 20vw;
  }

  /* styles for the second section of the homepage */

  .figmaCollection-section h1 {
    font-size: 45px;
    line-height: 54px;
    padding: 130px 20px;
  }
  
  .fig-collectionsSvgs {
    margin: 0 15px;
    height: 35px;
    width: 35px;
  }
  
  .layers-link {
    border-bottom: 4px solid #000;
  }
  .components-link {
    border-bottom: 4px solid #000;
  }

  
  /* styles for the grid section of the home page */
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .box_6 {
    grid-column: 3/5;
    grid-row: 2/4;
    height: 50vw;
  }

  

  .box_7 {
    grid-column: 1/3;
    grid-row: 3/5;
    height: 50vw;
  }

 

  .box_16 {
    grid-column: 3/5;
    grid-row: 6/8;
    height: 50vw;
  }

  
  .box_17 {
    grid-column: 1/3;
    grid-row: 7/9;
    height: 50vw;
  }

  .grid_text_box p {
    font-size: 20px;
  }

  .newSpan {
    font-weight: 400;
  }

  /* styles for the footer section of the home page */

  .home-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 55px 20px;
  }

  .footerLogo {
    margin: 0 50px ;
    height: 220px;
    width: 220px;
  }
  
  .home-footer h2 {
    font-size: 30px;
    margin-right: 40px;
  }
  
  ul.footer-socials {
    display: flex;
    margin: 45px 0;
    font-size: 25px;
    font-weight: 400;
  }
  
  ul.footer-socials li {
    padding: 10px 10px;
  }
  
  .home-footer button {
    bottom: 150px;
    right: 60px;
  
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 0;
  
    font-family: whyte;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 35px;
  }

}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 55.45em) {
  .badge {
    top: 50vw;
    right: 20px;
    width: 17vw;
  }

   /* styles for the second section of the homepage */

   .figmaCollection-section h1 {
    font-size: 55px;
    line-height: 70px;

  }
  
  .fig-collectionsSvgs {
    margin: 0 20px;
    height: 45px;
    width: 45px;
  }

}