.header {
  position: relative;
  height: 240px;
  background-color: #ffc700;
  border-bottom: 4px solid black;
}

.carousel-container {
  overflow: hidden;
}

.carousel {
  display: flex;
}

.header-image-containers {
  margin-left: 20px;
}

.headerSvgs {
  width: 220px;
  stroke: black;
  stroke-width: 8px;
}

.one-svg,
.four-svg {
  width: 400px;
}

.badge{
  position: absolute;
  top: 145px;
  right: 20px;
  width: 120px;
}