.nav {
  background-color: white;
}

main#small_screen {
  font-family: whyte;
  margin-top: 60px;
  padding-block: 50px;
  overflow: hidden;
}

main#large_screen {
  display: none;
}

section#product_info {
  margin: 0 20px;
}

section#product_info h1#layers {
  width: 95px;
  height: 35px;
  border-radius: 20px;
  place-content: center;
  text-align: center;
  background-color: #0fa958;
  font-size: 14px;
}

section#product_info h2 {
  margin-top: 25px;
  font-family: "whyte Inktrap";
  font-size: 32px;
  line-height: 40px;
}

section#product_info p {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 300;
}

section#slider_section {
}

div#product_slider {
  display: flex;
  width: fit-content;
  margin: 30px 0;
}

div.product_images {
  height: 95vw;
  width: 80vw;
  margin: 0 10px;
}

div.product_images .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

section#product_order {
  margin: 0 20px;
}

section#product_order a {
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-decoration: underline;
}

#product_size {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  width: 90vw;
}

#product_size div {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50px;
  place-content: center;
  text-align: center;
  font-weight: 700;
}

#item_add_sub_counter {
  display: flex;
}

#item_add_sub_counter div {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50px;
  place-content: center;
  text-align: center;
  font-weight: 700;
}

#item_add_sub_counter div#counter {
  border: none;
}

#product_price {
  height: 50px;
  width: 90vw;
  border: 2px solid black;
  border-radius: 50px;
  place-content: center;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 70px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* styling at 450px */

@media screen and (min-width: 28em) {
  div.product_images {
    height: 70vw;
    width: 60vw;
    margin: 0 10px;
  }

  section#product_order {
    margin: 0 20px;
  }

  #product_size {
    width: 300px;
  }

  #product_price {
    height: 45px;
    width: 80vw;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */

/* styling at 900px */

@media screen and (min-width: 56em) {
  main#small_screen {
    display: none;
  }

  main#large_screen {
    display: flex;
    font-family: whyte;
    margin: 60px 20px;
    padding-block: 50px;
    overflow: hidden;
  }

  section#showcase_section {
    display: flex;
  }

  div#product_showcase .ls_product_images {
    height: 90px;
    width: 90px;
    margin-bottom: 20px;
    /* border: 2px solid black; */
  }

  div.ls_product_images .image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }

  div#main_showcase {
    margin: 0 20px;
    background-color: red;
    height: 50vw;
    width: 45vw;
    border-radius: 100px;
  }

  /* ////////////////////////////////////////////////////////////////////// */

  section#product_info {
    height: fit-content;
    margin: 0 0px;
    width: 38%;
  }

  section#product_info h2 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 20px;
  }

  section#product_info a {
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-decoration: underline;
  }

  #product_size {
    width: 280px;
  }

  #product_price {
    width: 35vw;
    margin-bottom: 30px;
  }

  section#product_info p {
    line-height: 30px;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* styling at 1250px */

@media screen and (min-width: 78em) {
  main#large_screen {
    justify-content: center;
    width: 1250px;
    place-self: center;
  }

  div#main_showcase {
    height: 630px;
    width: 550px;
  }

  #product_price {
    width: 450px;
  }
}
